@use "reset";

body {
  background-color: rgba(0,0,0,.3);
  position: relative;
  cursor: none;
}


.cursor {
  position: absolute; 
  top: 0;
  left: 0; 
  cursor: none;
  pointer-events: none;
  border-radius: 50%;
}

	
.cursor {
  width: 100px;
  height: 100px;
  z-index: 1001; 
}

img {
  position: absolute;
}

.c-pic1 {
  height: 600px;
  width: auto;
  top: 200px;
  left: 20%;
}

.c-pic2 {
  z-index: 2;
  // opacity: 0;
  height: 100px;
  width: auto;
  top: 650px;
  left: 40%;
}

// .c-pic2.is-hover {
  // opacity: 1;
// }

.test-mask {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  mask-image: url("/img/heart.svg");
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 80%;
}


body {
  background-color: blueviolet;
}